= partial "_templates/flickr"
.whole-wrapper
  
  .main-wrapper
    .panels
      .panel
      .panel
      .panel
      .panel
      .panel
      .panel
      .panel
      .panel
      .panel
    .heading
      h1
        | Ars Electronica Reports 2015
      h2
        | Post City
  .sub-wrapper
    ul
      li.day1
        / h2 
        /   .month
        /     | 9
        /   .bar
        /     / | /
        /   .day
        /     | 3
        p
          | Opening Day
        = link_to "", "/day1/index.html"
      li.day2
        / h2 
        /   .month
        /     | 9
        /   .bar
        /     / | /
        /   .day
        /     | 4
        p
          | Symposium Day
        = link_to "", "/day2/index.html"
      li.day3
        / h2 
        /   .month
        /     | 9
        /   .bar
        /     / | /
        /   .day
        /     | 5
        p
          | Market Day
        = link_to "", "/day3/index.html"
      li.day4
        / h2 
        /   .month
        /     | 9
        /   .bar
        /     / | /
        /   .day
        /     | 6
        p
          | Citizen Day
        = link_to "", "/day4/index.html"